[core]
editor = vim
excludesfile = ~/.gitignore_global
[user]
name = Naoki Takahashi
email = naoki.tkb@gmail.com
signingkey = 3E5830623A28162F
[commit]
template = ~/.gitmessage
gpgsign = true
[gpg]
program = gpg
[credential]
helper = osxkeychain
[init]
defaultBranch = main
[merge]
ff = false
tool = code-insiders
[mergetool "code-insiders"]
cmd = code-insiders --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
rebase = false
ff = only
[web]
browser = google-chrome
[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
diff = auto
status = auto
branch = auto
