[core]
editor = vim
ignorecase = false
excludesfile = ~/.gitignore_global
pager = delta
fsmonitor=true
untrackedCache=true
[push]
autoSetupRemote = true
[interactive]
diffFilter = delta --color-only
[delta]
navigate = true
line-numbers = true
side-by-side = true
syntax-theme = Nord
keep-plus-minus-markers = true
[commit]
template = ~/.gitmessage
gpgsign = true
[gpg]
program = gpg
[credential]
helper = osxkeychain
helper =
helper = /usr/local/share/gcm-core/git-credential-manager
[init]
defaultBranch = main
[merge]
ff = false
tool = code
conflictstyle = diff3
[diff]
colorMoved = default
[mergetool "code"]
cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
rebase = false
ff = only
[web]
browser = google-chrome
[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
d = diff
r = rebase
f = fetch
p = pull
c = commit
ca = commit --amend
s = switch
dev = switch develop
b = checkout -b
[color]
diff = auto
status = auto
branch = auto
ui = true
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[include]
path = ~/.gitconfig.local
[credential "https://dev.azure.com"]
useHttpPath = true
