zmodule environment
zmodule git
zmodule input
zmodule utility
zmodule fzf
zmodule exa
zmodule completion
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
